#band-name {
  padding: 20px;
  font-weight:bold;
  font-size: 40px;
  font-family: Arial;
  text-align: center;
}

#header {
  border: 5px #1C6EA4;
  width: 100%;
  text-align: center;
  padding:20px;
}

div > a {
  padding: 5px;
  margin: 3px;
  text-align: center;
  border-color: blue;
  color:black;
}

.picture{
  align-self: flex-start;
  width: 200px;
  height: 200px;
}
